header {
    padding: 10px 40px;
    margin: -10px;
    background-color: rgb(3, 3, 43);
    font-family: open sans;
    color: white;
}

.Adopt-dog {
    font-family: open sans;
    padding-left: 40px;
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 150vh;
    border-style: solid;
    border-radius: 25px;
    padding: 5px;
    border-color: rgb(62, 4, 95);
}

.dog-picture {
   width: 400px;
}

img {
    width: 100%;
}
.dog-info {
    display: inline-block;
    font-family: oswald;
}

li {
    background-color: rgb(31, 161, 212);
    display: inline-block;
    list-style: none;
    border-radius: 8px;
    padding: 3px;
    margin: 3px;
}

.footer {
    display: flex;
    flex-direction: row;
    font-family: oswald;
    text-align: center;
    color: white;
    align-items: stretch;
    height: 400px;
    font-size: larger;
}

.donate {
    margin: 5px;
    border-radius: 25px;
    width: 100%;
    background-image: linear-gradient(rgba(43, 29, 240, 0.753), rgba(87, 33, 236, 0.5)), url("starter_files/images/donate.jpg");
    opacity: 0.5;
    line-height: 23pc
    
    
}

.volunteer {
    margin: 5px;
    border-radius: 25px;
    width: 100%;
    background-image: linear-gradient(rgba(43, 29, 240, 0.753), rgba(87, 33, 236, 0.5)), url("starter_files/images/volunteer.jpg");
    opacity: 0.5;
    line-height: 23pc;
   
}

.location {
    margin: 5px;
    border-radius: 25px;
    width: 100%;
    background-image: linear-gradient(rgba(43, 29, 240, 0.753), rgba(87, 33, 236, 0.5)), url("starter_files/images/location.png");
    opacity: 0.5;
    line-height: 23pc;
    
}